body {
	color: #B0631A;
	background-color: #FFFFF6;
}

body.colorscheme-dark {
	color: #B0631A;
	background-color: #2F1B07;
}

.navigation a, .navigation span {
	color: #E39B59;
}

.navigation a:hover, .navigation span:hover {
	color: #FC8E26;
}

body.colorscheme-dark .navigation a, 
body.colorscheme-dark .navigation span {
    color: #E39B59;
}

body.colorscheme-dark .navigation a:hover,
body.colorscheme-dark .navigation a:focus,
body.colorscheme-dark .navigation a:active,
body.colorscheme-dark .navigation span:hover,
body.colorscheme-dark .navigation span:focus,
body.colorscheme-dark .navigation span:active {
    color: #FC8E26;
}

h1, h2, h3, h4, h5, h6 {
	color: #B0631A;
}

body.colorscheme-dark h1,
body.colorscheme-dark h2,
body.colorscheme-dark h3,
body.colorscheme-dark h4,
body.colorscheme-dark h5,
body.colorscheme-dark h6 {
	color: #FC8E26;
}

a {
	color: #E39B59;
}

a:hover, a:focus, a:active {
	color: #FC8E26;
}

.float-container a {
    color: #E39B59;
    background-color: #D6D6D6;
}

.float-container a:hover,
.float-container a:focus,
.float-container a:active {
	color: #FC8E26;
}

body.colorscheme-dark .float-container a {
    color: #E39B59;
    background-color: #404040;
}

body.colorscheme-dark .float-container a:hover,
body.colorscheme-dark .float-container a:focus,
body.colorscheme-dark .float-container a:active {
	color: #FC8E26;
}

body.colorscheme-dark a {
	color: #E39B59;
}

body.colorscheme-dark a:hover,
body.colorscheme-dark a:focus,
body.colorscheme-dark a:active {
	color: #FC8E26;
}

.footer a {
	color: #E39B59;
}

.footer a:hover {
	color: #FC8E26;
}

.fa-brands {
	color: #E39B59;
}

.fa-brands:hover {
	color: #D97A21;
}

body.colorscheme-dark .footer a {
	color: #E39B59;
}

body.colorscheme-dark .footer a:hover {
	color: #FC8E26;
}