:root {
	--bs-body-font-size: 16px;
}

/* NAVBAR */

#sidebar, nav {
	z-index: 4;
}
	
#sidebar-nav {
	position: fixed;
	width: 100%;
}

.navbar .icon-bar {
	display: flex;
	align-items: center;
}

#nav-list {
	align-items: center;		
}

@media all and (min-width: 576px) {
	#nav-list {
		padding: 72px 48px;
		align-items: flex-start;
	}
}

@media all and (min-width: 1200px) {
	#sidebar-nav {
		width: 21rem;
    height: 100%;
    padding-right: 1.75rem;
    align-content: flex-start;
  }

	.navbar .icon-bar, .navbar .container {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar .icon-bar {
		gap: 12px;
	}

	.navbar .container {
		gap: 72px;
	}

	#lang-dropdown {
		padding: 8px;
	}

	#section-indicator {
		margin-left: 3.6rem;
	}
}

.navbar-toggler-icon, .btn-close {
	background-image: none;
}

.navbar .icon-bar button {
	border: none;
}

/* DROPDOWN */

.dropdown i {
	font-size: 24px;
}

.dropdown-menu {
	border-radius: 0;
}

.dropdown-item button {
	display: flex;
	gap:10px;
}

/* TOGGLE OVERLAY */

.navbar-toggler, #project-filter .dropdown-toggle {
	position: relative;
}

.overlay {
	position: absolute;
  bottom: 0;
	opacity: 0;
	transition: .3s ease;
}

.navbar-toggler .overlay {
	top: 4px;
}

.navbar-toggler:hover .overlay, .navbar-toggler.active .overlay,
#project-filter .dropdown-toggle:hover .overlay,
#project-filter .dropdown-toggle.active .overlay {
	opacity: 1;
}

.navbar-toggler:focus, .navbar-toggler:active,
.navbar-toggler-icon:focus, 
.btn-close:focus, .btn-close:active {
    outline: none;
    box-shadow: none;
}

/* OFF-CANVAS NAVBAR */

#offcanvasNavbar {
	font-size: 24px;
}

.offcanvas-body {
	display: flex;
	flex-direction: column;
}

@media all and (min-width: 576px) {
	.offcanvas-body .nav-item {
		padding-left: 3rem;
	}
}

/* SECTION INDICATOR */

#section-indicator {
	padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.divider {
	width: 62px;
	flex: 2;
	padding: 1px;
	margin: 10px;
}

/* INFOBAR */

.infobar {
	padding-left: 1.8rem;
}

@media all and (min-width: 1200px) {
	.infobar {
	  padding-left: 3.6rem;
	}
}

#bio-list {
	display: flex;
	flex-direction: column;
	padding: 1.45rem 0.75rem 0.25rem 0.75rem;
	gap: 24px;
	list-style-type: none;
}

.bio-item {
	width: auto;
}

.bio-item-title {
	font-size: 15px;
	text-transform: uppercase;
}

.bio-item-description {
	font-size: 14px;
}

/* FOOTER */

#source-code, #credits {
	padding-left: 1.8rem;
}

#credits {
	display: flex;
	justify-content: flex-start;
	gap: 0.75rem;
	padding-bottom: 0.75rem;
}

@media all and (min-width: 1200px) {
	footer {
		padding-left: 3.6rem;
	}

	#source-code, #credits {
		padding-left: 0rem;
	}

	#credits {
		display: block;
	}
}


/* MAIN CONTENT */

#main-content header {
	margin-bottom: 32px;
}

#main-content .container-fluid {
	padding: 8rem 2rem 8rem 2rem;
	max-width: 100vw;
	min-height: 100vh;
}

@media all and (min-width: 768px) {
	#main-content .container-fluid {
		margin: 0;
		padding-left: 2rem;
	}

	#main-content .container-fluid:not(#home) {
		padding-top: 6rem;
		padding-right: 2rem;
	}
}

@media all and (min-width: 1200px) {
	#main-content {
		margin-left: 21rem; 
		margin-right: 0;
	}
}


/* HOME */

@media all and (min-width: 1204px) {
	#home.container-fluid {
		padding-top: 0rem;
		padding-right: 0rem;
		padding-bottom: 0rem;
	}
}

/* PROFILE PICTURE */

#profile-picture {
	max-width: 100vw;
	min-height: 100vh;
}

#profile-picture img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

@media all and (min-width: 1204px) {
	#profile-picture {
		float: right;
	}

	#profile-picture img {
		border-radius: 0;
	}
}

p {
	line-height: 28px;
	margin-bottom: 8px;
	padding: 0.75rem 0.75rem 0.75rem 0;
}


#about {
	padding: 4.5rem 2rem 4.5rem 2rem;
}

@media all and (min-width: 768px) {
	#about {
		padding-left: 0rem;
		padding-right: 0rem;
	}
}

@media all and (min-width: 1204px) {
	#about {
		padding: 11.25rem 30rem 11.25rem 0rem;
	}
}

@media all and (min-width: 1366px) {
	#about {
		padding-right: 40rem;
	}
}

h1 {
	font-size: 48px;
}

@media all and (min-width: 768px) {
	h1 {
		font-size: 72px;
	}
}

@media all and (min-width: 1204px) {
	h1 {
		font-size: 84px;
	}
}

@media all and (min-width: 1400px) {
	h1 {
		font-size: 96px;
	}
}

/* SOCIAL LINKS */

#social-links {
	text-align: center;
}

#social-links a {
	text-align: center;
	padding: 32px;
	border: none;
	font-size: 48px;
}

@media all and (max-width: 576px) {
	#social-links a {
		display: block;
	}
}

/* SERVICES AND PORTFOLIO */

.btn {
	margin: 8px 12px 8px 12px;
	border: 2px solid #FC8E26;
	border-radius: 50px;
}

#download-btn {
	padding: 24px 48px 24px 48px;
}

#project-btn {
	padding: 8px 16px 8px 16px;
}

#project-filter button {
	background-color: transparent;
	border: none;
}

.card {
	max-width: 100vw;
	margin-left: auto;
	margin-right: auto;
}

.card .service-icon {
	padding: 16px 16px 0 24px;
	color: #D97A21;
}

.bi-box-arrow-up-right {
	color: #F5DEC7;
	font-size: 10px;
}

.card i:not(.bi-box-arrow-up-right) {
	font-size: 48px;
}

.card img {
	height: auto;
}

@media all and (min-width: 768px) {
	.card {
		max-width: 50vw;
	}
	.card img {
		height: 32vh;
	}
}

@media all and (min-width: 1200px) {
	.card img {
		height: 42vh;
	}
}

@media all and (min-width: 1440px) {
	.card img {
		height: 48vh;
	}
}

@media all and (min-width: 1680px) {
	.card {
		max-width: 36vw;
	}
	.card img {
		height: 56vh;
	}
}

.btn-label {
	display: flex;
	gap: 4px;
}

@media all and (min-width: 768px) {
	#services button {
		margin-top: 96px;
		margin-bottom: 32px;
	}
}

/* EXPERIENCE */

#exp-body li {
	margin: 0.75rem 0 0.75rem 0;
}

.circle {
  width: 36px;
  height: 36px;
  border: 4px solid #D97A21;
  border-radius: 50%;
}

@media all and (min-width: 320px) {
	.circle {
	  width: 48px;
	  height: 48px;
	}
}

/* Vertical Ruler */
.vr {
  width: 4px;
  opacity: 1;
}

.vr-flexbox {
	margin-top: 8px;
}

/* SKILLS */

#skills-body {
	padding: 10% ;
	--bs-gutter-y: 5rem;
	--bs-gutter-x: 3rem;
}

#skills-body .g-donut {
	padding: 6%;
	--bs-gutter-y: 6rem;
	--bs-gutter-x: 5rem;
	min-height: 100%;
}

#skills-body .g-bar {
	--bs-gutter-x: 3rem;
	min-height: 100%;
}

.skill-donut {
	position: relative;
	min-height: 100%;
	margin: 0.25rem;
}

.donut-sector {
	position: absolute;
	width: 180px;
  height: 180px;
  border-radius: 50%;
  z-index: 0;
}

.donut-ring-outer {
	position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  z-index: 1;
}

.donut-ring-inner {
	position: absolute;
	content: "";
	width: 132px;
	height: 132px;
	border-radius: 50%;
	z-index: 2;
}

.donut-ring-inner::before {
	content: "";
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.skill-bar {
	position: relative;
}

.bar-container {
	padding: 6px 0 6px 0;
	position: absolute;
	min-width: 100%;
	z-index: 0;
}

.percentage {
	z-index: 3;
}

.skill-donut .percentage {
	font-size: 48px;
}

.skill-bar .percentage {
	font-size: 24px;
	margin-bottom: 2%;
}

.bar {
	height: 24px;
	z-index: 0;
}

.ui-ux {
	width: 80%;
}

.dev-ops {
	width: 75%;
}

.g-donut .skill {
	margin-top: 6%;
}

.g-bar .skill {
	margin-top: 4%;
}

/* CONTACT */

.contact-body {
	display: flex;
	gap: 48px;
}

#contact-form {
	padding: 96px 24px 96px 24px;
}

@media all and (max-width: 768px) {
	.contact-body {
		flex-direction: column;
		width: 100%;
	}

	#contact-form {
		padding: 0;
		width: 100%;
	}
}

form {
	display: flex;
	flex-direction: column;
	padding: 48px 32px 48px 32px;
	gap: 16px;
}

.form-control {
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #FFFFF6;
	border-radius: 0;
	padding-left: 0;
}

form #send-btn {
	margin: 8px 12px 8px 12px;
	padding: 24px 48px 24px 48px;
	border-radius: 0;
	border: 2px solid #F5DEC7;
}

form #send-btn .btn-label {
	color: inherit;
}

/* STYLES */

.navbar .icon-bar button i {
	color: #F5DEC7;
}

.icon-bar button:focus, 
.icon-bar button:hover, 
.icon-bar button:active {
	color: #D97A21;
}

.nav-item:hover, .nav-item .active {
	color: #2F1B07 !important;
}

.bi-heart-fill {
	color: #D97A21;
}

#lang-dropdown .dropdown-menu .active {
	color: #2F1B07 !important;
	background-color: transparent !important;
}

#lang-dropdown .dropdown-item:hover {
	color: #FFFFF6;
	background-color: #A35C19 !important;
}

#project-filter-menu .dropdown-item:hover {
	color: #FFFFF6 !important;
	background-color: #A45C19 !important;
}

#project-filter-menu .active {
	color: #A45C19 !important;
	background-color: transparent;
}

#social-links a {
	color: #E39B59;
}

#social-links a:hover {
	color: #D97A21;
}

a.btn:hover {
	background-color: #D97A21;
	border: 2px solid #FC8E26;
}

.donut-ring-inner::before {
	background: #2F1B07;
}

.swift .donut-sector, .swift .donut-ring-inner {
	background: conic-gradient(
		#2F1B07 0deg 90deg,
		#FC8E26 90deg 378deg,
		#2F1B07 378deg 360deg
	);
}

.swift .donut-ring-outer {
	background: conic-gradient(
		#7E4713 0deg 90deg,
		#FC8E26 90deg 378deg,
		#7E4713 378deg 360deg
	);
}

.ai-ml .donut-sector, .ai-ml .donut-ring-inner {
	background: conic-gradient(
		#2F1B07 0deg 150deg,
		#FC8E26 150deg 384deg,
		#2F1B07 384deg 360deg
	);
}

.ai-ml .donut-ring-outer {
	background: conic-gradient(
		#7E4713 0deg 150deg,
		#FC8E26 150deg 384deg,
		#7E4713 384deg 360deg
	);
}

.bar {
	background-color: #FC8E26;
}

.bar-container {
	background-color: #7E4713;
}

.percentage {
	color: #FDAA5C;
}

form {
	background-color: #FC8E26;
	color: #FFFFF6;
}

.form-control:focus {
	background: rgb(0 0 0 / 10%);
}

.form-control, .form-control:focus, .form-control::placeholder {
	color: #FFFFF6;
}

form #send-btn:hover {
	background-color:  #D97A21;
	color: #FFFFFF;
	border: 2px solid #FFFFF6;
}

.secondary-bg-cards-nav {
	background-color: #44260A;
}

.secondary-bg-section {
	background-color: #2F1B07;
}

.bg-accent {
	background-color: #D97A21;
}

.bg-gray-100 {
	background-color: #FFFFF6;
}

.gray-100 {
	color: #FFFFF6;
}

.gray-button {
	color: #F5DEC7;
}

.secondary-headings-label {
	color: #FC8E26;
}

.secondary-text {
	color: #B0631A;
}

.secondary-text-section {
	color: #C48A53;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.noto-sans-devanagari-regular {
  font-family: "Noto Sans Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-devanagari-medium {
  font-family: "Noto Sans Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-devanagari-semibold {
  font-family: "Noto Sans Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-devanagari-bold {
  font-family: "Noto Sans Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.anek-odia-regular {
  font-family: "Anek Odia", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.anek-odia-medium {
  font-family: "Anek Odia", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.anek-odia-semibold {
  font-family: "Anek Odia", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.anek-odia-bold {
  font-family: "Anek Odia", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.germania-one-regular {
  font-family: "Germania One", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.germania-one-medium {
  font-family: "Germania One", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.germania-one-semibold {
  font-family: "Germania One", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.germania-one-bold {
  font-family: "Germania One", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.figtree-semibold {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.figtree-bold {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-condensed-medium {
  font-family: "Fira Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
